
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Potta+One&display=swap');

*{
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

#root{
  z-index: 1;
}

body{
  // background: linear-gradient(to bottom right, #FEE715,#101820);
  // background-color: #272727;
  // background-color: #002469;
  background-image: linear-gradient(to top right,rgb(240, 179, 35,.4) ,rgb(0, 36, 105,1));
  position: fixed;
}


.nust_logo{
  position: fixed;
  left: 50%;
  transform: translate(-50%,30%);
  width: 300px;
  height: 400px;
  z-index: 300;
  display: flex;
  justify-content: center;

  & > img:nth-child(1){
    position: fixed;
    transform: translateZ(20px);
    animation: logo2;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 3;
    transition:all .1s ease-out 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform: scale(1.2);
  }

  & > img:nth-child(2){
    position: fixed;
    transform: translateZ(10px);
    animation: logo1;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    transition:all .1s ease-out 0s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform: scale(1.2);

  }

  & > div{
    position: fixed;
    cursor: pointer;
    text-align: center;
    padding: 1.5%;
    color: #f0b323;
    align-items: center;
    background-color: #D22730;
    // border: 4px solid #f0b323;
    transition: all .3s ease-in 0s;
    border-radius: 100%;
    bottom: 10px;

    height: 100px;
    width: 100px;
    font-size: 20px;
    font-family: 'Potta One', cursive;
    // animation: start;
    // animation-duration: 5s;
    // animation-fill-mode: backwards;
    // animation-delay: 5s;
    // animation-iteration-count: infinite;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    &:hover{
      opacity: 1;
      transform: scale(1.1);
      animation: start1;
      animation-duration: 2s;
      animation-delay: 0s;
      animation-fill-mode: backwards;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }

    opacity: 1;
  }

  @keyframes start1 {
    0%{
      opacity: 1;
      box-shadow: 0px 0px 6px 10px #D22730;
      background-color: #D22730;
      color: #f0b323;
    }
    25%{
      box-shadow: 0px 0px 6px 10px #f0b323;
      background-color: #f0b323;
      color: #002469;
    }
    50%{
      box-shadow: 0px 0px 6px 10px #002469;
      background-color: #002469;
      color: #f0b323;  
    }
    75%{
      box-shadow: 0px 0px 6px 10px #8b8075;
      background-color: #8b8075;
      color: #D22730;
    }
    100%{
      box-shadow: 0px 0px 10px 10px #D22730;
      opacity: 1;
    }
    
  }

  @keyframes logo1 {
    0%{
      // transform: scale(1.1);
      opacity: 1;
    }
    // 25%{
    //   opacity: 0;
    // }

    // 50%{
    //   opacity: 1;    
    // }
    // 75%{
    //   opacity: 0;
    // }
    100%{
      opacity: 0;
      // transform: scale(1.1);
    }
    
  }

  @keyframes logo2 {
    0%{
      opacity: 0;
    }
    // 25%{
    //   opacity: 1;
    //   transform: scale(1.1);
    // }

    // 50%{
    //   opacity: 0;
    // }
    // 75%{
    //   opacity: 1;
    //   transform: scale(1.1);
    // }
    100%{
      opacity: 1;
    }
    
  }

  @keyframes start {
    0%{
      opacity: 0;
      // text-indent: 80%;
      text-indent: 120%;
      width: 0;
    }
    100%{
      opacity: 1;
      width: 100px;
      text-indent: 0%;
    }
    
  }

}


.main{
    width: 90%;
    min-height: 90vh;
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%,0%);
    background-image: linear-gradient(to bottom right,rgb(240, 179, 35,.1) ,rgb(0, 36, 105,.1));
    display: none;
    justify-content: space-between;
    // box-shadow: 0px 0px 50px 20px rgb(240, 179, 35,.1);
  
    .gameDiv{
      height: 100%;
      padding: 1%;
  
      .gameWindow{
        width: 600px;
        height: 600px;
        // border: 0px solid red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // background-repeat: no-repeat;
        // background-size: 600px;
        // background-image: url('./images/Goal2.jpg');
  
        // & > div:nth-child(even){
        //   // background-color: #D22730;
        //   // border: 2px solid #D22730;
        // }

        & > div{
          // border: 4px solid black;
          background-repeat: no-repeat;
          background-size: 600px;
          z-index: 100;
        }

        .empty{
          background-image: none;
          background-color: rgb(238, 238, 236);
        }
        .puzzle2{
          background-position: -200px 0;
        }
        .puzzle3{
          background-position: -400px 0;
        }

        .puzzle4{
          background-position: 0px -200px;
        }
        .puzzle5{
          background-position: -200px -200px;
        }
        .puzzle6{
          background-position: -400px -200px;
        }

        .puzzle7{
          background-position: 0px -400px;
        }
        .puzzle8{
          background-position: -200px -400px;
        }
        .puzzle9{
          background-position: -400px -400px;
        }
        


      }
  
    }
  
    .data{
      width: 50%;
      min-height: 60vh;
      padding: 1%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .gameName{

        margin: 3px auto;

        span{
          font-size: 30px;
          font-weight: 800;
          font-family: 'Potta One', cursive;
          cursor: pointer;
        }

        & > span:nth-child(1){
          color: #002469;
        }

        & > span:nth-child(2){
          color: #8b8075;
        }

        & > span:nth-child(3){
          color: #D22730;
        }

        & > span:nth-child(4){
          color: #f0b323;
        }

        & > span:nth-child(7){
          color: #002469;
        }

        & > span:nth-child(6){
          color: #8b8075;
        }

        & > span:nth-child(8){
          color: #D22730;
        }

        & > span:nth-child(9){
          color: #f0b323;
        }

      }

      .choose-goals{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .picSelect,.strategicSelect{
          width: 40%;
          height: 45px;
          border-radius: 8px;
          border: 2px solid #f0b323;
          padding: 1%;
          background-color: transparent;
          outline:none;
          font-size: 18px;
          margin-top: 40px;
          color: #D22730;
          font-family: 'Potta One', cursive;
    
          option{
            height: 30px;
          }
        }
      }

  
      button{
        width: 100px;
        height: 90px;
        outline: none;
        margin: 30px auto;
        border-radius: 10px;
        border: 10px solid #f0b323;
        background-color: #D22730;
        color: #f0b323;
        transition: all .5s ease-in-out 0s;
        font-family: 'Pacifico', cursive;
        font-size: 22px;
        transform: translateZ(20px);
        &:hover{
          transform: scale(1.1);
          box-shadow: 0px 0px 20px 2px #f0b323;
        }
      }

      .hintWindow{
        margin: 0px auto;
        width: 350px;
        height: 350px;
        border-right: 3px solid #f0b323;
        border-bottom: 3px solid #002469;
        border-left: 3px solid #8b8075;
        border-top: 3px solid #D22730;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        // box-shadow: 0px 0px 20px 1px #f0b323;

        .hint{
          width: 90%;
          height: 90%;
          background-color: rgb(12, 12, 12,.2);
          box-shadow: 0px 0px 10px 1px rgb(12, 12, 12,.2);
          display: flex;
          justify-content: center;
          align-items: center;

          span{
            font-size: 30px;
            font-weight: 800;
            font-family: 'Potta One', cursive;
          }

          & > span:nth-child(1){
            color: #002469;
          }

          & > span:nth-child(2){
            color: #8b8075;
          }

          & > span:nth-child(3){
            color: #D22730;
          }

          & > span:nth-child(4){
            color: #f0b323;
          }

        }
      }
    }
}

.logo{
  border-radius: 100%;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all .3s ease 0s;
  z-index: 200;
  background-image: linear-gradient(to bottom right,rgb(0, 36, 105),rgb(240, 179, 35,.9));
  // box-shadow: 0px 0px 10px 5px #D22730, 0px 0px 10px 10px #f0b323,0px 0px 10px 15px #D22730,0px 0px 10px 20px #002469;
  display: none;
  justify-content: center;
  align-items: center;
  animation: logorotate;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  // animation-play-state: running;
  // animation-direction: normal;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  @keyframes logorotate{
    0%{

      border-right: 9px solid #D22730;
      border-left: 9px solid #002469;
      border-bottom: 9px solid #f0b323;
      border-top: 9px solid #8b8075;

    }
    50%{

      border-right: 9px solid #8b8075;
      border-bottom: 9px solid  #D22730;
      border-left: 9px solid  #f0b323;
      border-top: 9px solid #002469;

    }

    100%{

      border-right: 9px solid #002469;
      border-bottom: 9px solid #8b8075;
      border-left: 9px solid #D22730;
      border-top: 9px solid #f0b323;

    }
  }

  .picname{
    width: 80px;
    object-fit: cover;
    height: 80px;
    img{
      width: 100%;
      height: 100%;

    }
  }
}



